@import '../../style/colors';

.root {
  display: flex;
  justify-content: center;
}

.svgRoot {
  filter: blur(10px);
  transition: filter 0.5s;

  &.loaded {
    filter: none;
  }
}

.district {
  opacity: 1;
  cursor: pointer;
  outline: none;
  transition: fill 0.15s;
  fill: rgba($color-black, 0.5);
  animation-duration: 1s;

  &:hover {
    opacity: 0.75;
  }
}

@each $party, $party-color in $party-color-index {
  $selected-color: lighten($party-color, 25%);

  .district.#{$party} {
    fill: $party-color;

    .selected & {
      animation-name: flash-#{$party};
      fill: $selected-color;
    }
  }

  @keyframes flash-#{$party} {
    from {
      fill: $party-color;
    }

    10% {
      fill: white;
    }

    to {
      fill: $selected-color;
    }
  }
}

.borders {
  fill: none;
  stroke: $color-borders;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
