
@font-face {
  font-family: National;
  font-weight: 300;
  src: url(./fonts/National-Book.otf);
}

@font-face {
  font-family: National;
  font-weight: 300;
  font-style: italic;
  src: url(./fonts/National-BookItalic.otf);
}

@font-face {
  font-family: National;
  font-weight: 100;
  src: url(./fonts/National-Light.otf);
}

@font-face {
  font-family: National;
  font-weight: 100;
  font-style: italic;
  src: url(./fonts/National-LightItalic.otf);
}

@font-face {
  font-family: Frederick;
  src: url(./fonts/Frederick.ttf);
}
