@import '../style/colors';
@import '../style/measurements';
@import '../style/mixins';

.root {
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: rgba($color-background, 0.95);
}

.container {
  @extend %container;

  display: flex;
  flex-direction: row;
  text-align: left;
  padding-bottom: 4rem;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1.5rem;

  a {
    margin-top: 5px;
  }

  h4 {
    flex: 1;
    font-size: 1.5rem;
    margin-left: 2rem;
  }
}

.overview {
  flex: 2;

  @media (min-width: 768px) {
    padding-right: 4rem;
  }
}

.map {
}

.legislators {
}

.legislatorDetails {
  flex: 3;
}
