@import '../style/colors';
@import '../style/mixins';

.root {
  @extend %subpage;
}

.container {
  @extend %container;

  display: flex;
  flex-direction: row;
  text-align: left;
  padding-bottom: 4rem;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  a {
    margin-top: 5px;
  }

  h4 {
    flex: 1;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }
}

.overview {
  flex: 2;

  @media (min-width: 768px) {
    padding-right: 4rem;
  }
}

.map {
}

.legislators {
}

.legislatorDetails {
  flex: 3;
}
