@import '../../style/colors';

.svgRoot {
  transition: width, height 200ms;
}

.nation {
  transition: transform 200ms;
}

.stateBorders {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.state {
  fill: $color-black;
  opacity: 1;
  cursor: pointer;
  outline: none;
  transition: fill, opacity 200ms;

  &:hover {
    opacity: 0.7;
  }

  .selected & {
    opacity: 0.4;
  }
}

.settings {
  margin: 4rem 0;
  align-self: flex-start;
  display: flex;
  flex-direction: row;

  .prodNote {
    writing-mode: vertical-lr;
    font-size: 80%;
    margin-top: 1rem;
    transform: rotate(180deg);
    font-style: italic;
  }

  [app-environment='production'] & {
    display: none;
  }
}
