.about {
  padding: 2rem;
  
  section {
    margin: 2rem 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-top: 0.5rem;
  }
}

.role {
  display: inline-block;
  width: 10em;
}

.author {
  display: inline-block;
  font-weight: bold;
}
